                    <ul class="navbar-nav ms-auto">
                        {% if current_user.is_authenticated %}
                            <!-- ↓↓ このifブロックを追加 ↓↓ -->
                            {% if current_user.is_admin %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('admin_panel') }}">管理者ページ</a>
                            </li>
                            {% endif %}
                            <li class="nav-item">
                                <span class="navbar-text me-3">
                                    こんにちは, {{ current_user.username }} さん
                                </span>
                            </li>
                            <li class="nav-item">
                                <a class="btn btn-outline-light" href="{{ url_for('logout') }}">ログアウト</a>
                            </li>
                        {% else %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('login') }}">ログイン</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ url_for('register') }}">新規登録</a>
                            </li>
                        {% endif %}
                    </ul>
