{% extends 'base.html' %}

{% block title %}新規登録{% endblock %}
{% block header %}新規登録{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <form method="POST" action="{{ url_for('register') }}">
                    <div class="mb-3">
                        <label for="username" class="form-label">ユーザー名</label>
                        {# required属性を削除 #}
                        <input type="text" class="form-control" id="username" name="username">
                    </div>
                    <div class="mb-3">
                        <label for="password" class="form-label">パスワード</label>
                        {# required属性を削除 #}
                        <input type="password" class="form-control" id="password" name="password">
                    </div>
                    <button type="submit" class="btn btn-success w-100">登録する</button>
                </form>
            </div>
            <div class="card-footer text-center">
                既にアカウントをお持ちですか？ <a href="{{ url_for('login') }}">ログイン</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
